{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" min="1" required />
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" min="1" required />
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <pre class="tab"></pre>
    
{% endblock %}
